# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
ENV/

# SQLite
*.db
*.sqlite3

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs & Temp
*.log
tmp/
temp/

# UI Build
/dist
/build
